.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    margin: 0;
    width: 1024px;
    height: 1024px;
    border: 1px solid black;
}

.cell {
    border: 1px solid black;
    max-width: 4px;
    max-height: 4px;
    display: inline-block;
}